/* Container Style */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* General Card Styles */
mat-card {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Interaction Card Specifics */
.interaction-card .input-field {
    width: 100%;
    margin-bottom: 10px;
}

.interaction-card button {
    width: auto;  /* Adjust based on your design */
}

/* Response Card Styles */
.response-card h2, .history-card h2 {
    margin-bottom: 10px;
    color: #333;
}

.response-card p {
    color: #666;
}

/* History Card Specifics */
.history-card {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    background-color:#666;
}


/* History Card Specifics */
.history-card mat-list-item mat-list {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
   
}

.history-card mat-divider {
    margin-bottom: 10px;
    color:#666
}


mat-card h2, mat-card p, mat-list-item  {
    color: white; /* Dark grey for text for good contrast on a light background */
}

mat-card button {
    color: #ffffff; /* White text for buttons, adjust as necessary */
    background-color: #007bff; /* Example button color, choose as per your design */
}

/* Makes Material cards lighter with lighter background and text colors */
mat-card {
    background-color: #ffffff; /* White background for light theme */
    color: white; /* Darker text for better readability */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
}




